/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
.main-container{
  background: #23424a;
  color: white;
  padding: 2em;

}
.container {
  max-width: 750px;
  margin: 0 auto;
}
.wbg{
  background: white;
  color: #333;

}
h1,h2{
  margin-top: 0;
}


.intro-content {
  width: 50%;
}
