/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    
    /* can't use yet */
    /* gap: 100px; */
}
.hero img{
    max-width: 100%;
}
.hero-img{
    align-self: flex-start;
    max-height:100%;
}
.flex-1{
width: 60%;
}
.flex-2{
    width: 35%;
}


.col + .col {
    margin-left: 30px;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
    margin-bottom: 2.5rem;
}

.hero__text { 
    width: 62%;
}

.hero__img {
    width: 32%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}


.c-txtdgreen{
    color: #136c72;
}
.bggreen-color{
    background-color: #136c72;
    text-align: center;
    color: #fff;
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.btn:hover,
.btn:focus {
    opacity: .75; 
}